@charset "UTF-8";

/* Paleta de cores:
#49a09d
#5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #5f2c82;
    --cor2: #49a09d;
}

body, html {
    background-color: var(--cor1);
    height: 100vh;
    width: 100vw;
}

main {
   height: 100vh;
   width: 100vw; 
   position: relative;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.389);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: var(--cor1) url(..//imagens/pexels-pixabay-315998.jpg);
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

section#login > div#formulario {
   padding: 10px; 
   display: block;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 20px;
}


form > input[type=submit] {
    margin-top: 30px;
    display: block;
    font-size: 1.2em;
    width: 100%;
    height: 40px;
    background-color: var(--cor2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2d6361;
    font-weight: bolder;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #2d6361;
    padding-top: 7px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #49a09d;
    margin-top: 5px;
}

form > a.botao:hover {
    background-color: #49a09d;
    color: white;
    font-weight: bolder;
}

div.campo > input {
    background-color: #54bbb8;
}


