@charset "UTF-8";

/* Paleta de cores:
#49a09d
#5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #5f2c82;
    --cor2: #49a09d;
}

body, html {
    background-color: var(--cor1);
    height: 100vh;
    width: 100vw;
}

main {
   height: 100vh;
   width: 100vw; 
   position: relative;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.389);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: var(--cor1) url(..//imagens/pexels-pixabay-315998.jpg);
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

section#login > div#formulario {
   padding: 10px; 
   display: block;
}

